/** CSS STYLE **/

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Neucha";
  src: url(../fonts/Neucha-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: var(--dark);
  font-size: 16px;
  line-height: 1.6rem;

  margin: 0;
  
}

h1 {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2em;
}

h2 {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 34px;
  line-height: 1.2em;
}

h5 {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
}

p { 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.fz-52 {
  font-size: 52px;
}

.container {
  position: relative;
  width: 100%;
}

.content {
  position: relative;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-200 {
  padding-top: 200px;
}

/* Background and color*/

.bg-image::before {
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0;
  background: url("../images/background.png") 0 0 / cover no-repeat;

  opacity: 0.1;

  content: "";
}

.bg-light {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-main-dark {
  background-color: var(--main-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.color-main {
  color: var(--main);
}

.color-dark {
  color: var(--dark);
}

.color-white {
  color: var(--white);
}

.color-translucent-dark {
  color: var(--translucent-dark);
}

/* Container */

.flex {
  display: flex;
  gap: 30px;
}

.d-flex {
  display: flex;
  padding-top: 0;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  justify-content: center;
  align-items: center;
}

/* Header */

.split-columns-2 > * {
  width: calc(50% - 15px);
}

.header-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-title {
  margin-bottom: 150px;
}

.btn {
  display: inline-block;

  background-color: var(--main);
  color: var(--white);
  font-weight: 700;

  text-transform: uppercase;
  border: none;
  padding: 12px 24px;
  margin-top: 24px;
}

/* Video section */

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));

  position: relative;
  margin: 0 auto -200px;
  z-index: 1;
}

/* Navigation section */

.split-columns-3 > * {
  width: calc((100% - 60px) / 3);
}

.card-nav {
  display: block;

  background-color: var(--light);

  height: 100%;
  padding: 24px;
}

.card-nav:hover {
  background-color: var(--main);
}

.card-head-number {
  margin-bottom: 40px;
  margin-top: 0;

  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;

  color: var(--main-dark)
}

.card-title {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 34px;
}

.card-body {
  color: var(--dark)
}

.card-nav:hover * {
  color: var(--white);
}

/* Sections */

.sections-image {

  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.small-header {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.section-text {
  font-family: "Neucha", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2em;

  padding-top: 30px;
}

.separate-header {
  padding: 5px 10px;
  margin-top: 0;
}